@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Space Mono";
}

body {
  height: 70vh;
  margin: 0;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Space Mono, monospace;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  margin: 0;
}

.sub {
  margin: 10px 0;
  width: 500px;
}

.container {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

input {
  background-color: #524d5721;
  border: none;
}

button {
  cursor: pointer;
  color: #f1f5f9;
  border: none;
  background-color: #7e459b;
}

button:hover {
  background-color: #713d8b;
}

.msg {
  font-weight: bold;
}